@model  ODASApp.Models.PtRegistration
@{
    ViewBag.Title = "PatientCreate";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<h2>Registration For Patient</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "registrationForm", id = "registrationForm", encType="multipart/form-data"}))
{
    <style type="text/css">
input[type="file"] {
     display: none;
}

.custom-file-upload {
    border: 1px solid rgb(197, 197, 197);
    /*border-radius: 4px 4px 4px 4px;*/

    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    float: left;
    width: 5.25em;
    margin-left:5px;
}

.photo{
    width: 100px; 
    height: 100px; 
    border: 1px solid rgb(197, 197, 197); 
    border-radius: 4px 4px 4px 4px; 
    float:left;
}
</style>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="blah" class="photo" />
                <label for="ImageFile" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i>Add Image
                </label>
                <input type='file' id="ImageFile" name="ImageFile" />
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo)
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Gender)*@
                @Html.RadioButton("Gender", "Male")Male
                @Html.RadioButton("Gender", "Female")Female
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="DOB" name="DOB" />
                @*@Html.EditorFor(model => model.DOB)*@
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NID)
                @Html.ValidationMessageFor(model => model.NID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h3>@ViewBag.showMsg</h3>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $("#DOB").datepicker({
                showAnim: "clip",
                changeMonth: true,
                changeYear: true,
                dateFormat: "d M,yy",
                maxDate: "getDate"

            });
            $("#registrationForm").validate({
                rules: {
                    Image: "required",
                    Name: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    PhoneNo: "required",
                    NID: "required",
                    Gender: "required",
                    DOB: "required",
                    Password: {
                        required: true,
                        minlength: 5
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 5,
                        equalTo: "#Password"
                    },
                },
                messages: {
                    Image: "Please select your picture",
                    Name: "Please enter your name",
                    Email: {
                        required: "Please enter your Email",
                        email: "Please enter a valid email"
                    },
                    PhoneNo: "Please enter your PhoneNo",
                    NID: "Please enter your NID",
                    Gender: "Please select your Gender",
                    DOB: "Please select your DOB",

                    Password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    ConfirmPassword: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long",
                        equalTo: "Please enter the same password as above"
                    }
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ImageFile").change(function () {
                readURL(this);
            });
        });
    </script>
}





