@model ODASApp.Models.Appointment
@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<h2>SearchIndex</h2>
<table class="table">
    <tr>
        <th>
            <label>Search By Doctors Name</label>
            <input class="form-control" id="drSearch" />
        </th>  
        <th>
            <label>Search By Specialist</label>
            
            <select name="" id="SpecialityId" class="form-control">
                <option value="">--Select Specialist--</option>
                @foreach (var speciality in ViewBag.Specialyty)
                {
                    <option value="@speciality.Id">@speciality.SpecialityName</option>
                }
            </select>

        </th>
    </tr>
    <tr>
        <th></th>
        <th>
            <select name="DoctorId" id="DoctorId">
                <option value="">--Select--</option>
            </select>
        </th>
    </tr>
</table>
<form >
    <table class="table table-striped table-bordered" id="DoctorTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Speciality</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="DoctorTableBody"></tbody>  

    </table></form>
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "ScheduleTable", id = "ScheduleTable" }))
{
    <div class="row">
        <div class="col-md-3">
            <label>Id</label>
           
            <div class="col-md-6">
                <input type="text" id="DoctorId" name="DoctorId" />
            </div >
            <label> Date</label>            
                        
            <div class="col-md-6">
                <input type="text" id="Date" name="Date" />
            </div>
                
        </div>
            <div class="col-md-3">
                    <div class="col-md-6">
                        <input type="text" id="Start_Time" name="Start_Time" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="End_Time" name="End_Time" />
                    </div>
            </div>
        
        
        
    </div>
    
}
@*<form>
    <table class="table table-striped table-bordered" id="ScheduleTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="ScheduleTableBody"></tbody>
        <tr>
            <td>
                @Html.ActionLink("ew","PatientCreate","Patient")
            </td>
        </tr>
    </table>
</form>*@
    
    

    
@section Scripts{
    
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>

        $(document).ready(function () {
            $("#DoctorTable").hide();
            $("#ScheduleTable").hide();
            $("#SpecialityId").change(function () {
                var spId = $("#SpecialityId").val();
                $("#DoctorId").empty();
                $("#DoctorId").append('<option value="">--Select--</option>');
                var json = { specialityId: spId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetBySpecialityId", "Patient")',
                    //url: '/Department/GetStudentsByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        $.each(data, function (key, value) {
                            //alert(value.StudentId);
                            $("#DoctorId").append('<option value=' + value.Id + '>' + value.DoctorName + '</option>');
                        });
                    },
                    error: {

                    },
                    complete: {

                    }
                });
            });
        });
        $("#DoctorId").change(function () {
            var drId = $("#DoctorId").val();
            $("#DoctorTable").show();
            $("#ScheduleTable").show();
            $("#DoctorTableBody").empty();
            $("#ScheduleTableBody").empty();
            var json = { doctorId: drId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDoctorById", "Patient")',
                //url: '/Department/GetStudentsByDepartmentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);
                    $.each(data, function (key, value) {
                        //alert(value.StudentId);
                        $("#DoctorTable").append('<tr><td>' + value.Id + '</td><td>' + value.DoctorName +'</td><td>'+value.Degree+'</td><td>' + value.Specialist + '</td></tr>');
                        $("#ScheduleTable").append('<td>' + value.Id + '</td><td>' + value.Date + '</td><td>' + value.StartTime + '</td><td>' + value.EndTime + '</td>');

                    });
                },
                error: {

                },
                complete: {

                }
            });
        });

        $("#drSearch").autocomplete({
            source:function(request, response) {
                $.ajax({
                    url: '@Url.Action("GetDoctor","Patient")',
                    dataType: "json",
                    data: { search: $("#drSearch").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });
    </script>
}
