@model ODASApp.Models.DrSchedule

@{
    ViewBag.Title = "CreateSchedule";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}

<h2>CreateSchedule</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "scheduleForm", id = "scheduleForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DrSchedule</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.DoctorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorId)
                @Html.ValidationMessageFor(model => model.DoctorId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="AppointmentDate" name="AppointmentDate" />
                @Html.ValidationMessageFor(model => model.AppointmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="StartTime" name="StartTime" />
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="EndTime" name="EndTime" />
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
<script  type="text/javascript">
    $(document).ready(function () {
        $("#AppointmentDate").datepicker({
            showAnim: "clip",
            changeMonth: true,
            changeYear: true,
            dateFormat: "d M,yy",
            minDate: "getDate"

        });


        
            //$(".Start_Time").datetimepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-100:+0",
            //    dateFormat: 'dd-M-yy',
            //    controlType: 'select',
            //    timeFormat: 'hh:mm TT'
            //});

        $('#StartTime').timepicker({
            //showAnim: "clip",
            //changeMonth: true,
            //changeYear: true,
            //dateFormat: "d M,yy",
            //minDate: "getDate"
        });

        $("#EndTime").timepicker({
            //showAnim: "clip",
            //changeMonth: true,
            //changeYear: true,
            //dateFormat: "d M,yy",
            //minDate: "getDate"
        });

        $("#scheduleForm").validate({
            rules: {
                AppointmentDate: "required",
                StartTime: "required",
                EndTime: "required",
            },
            messages: {
                AppointmentDate: "Please select your Date",
                StartTime: "Please enter your StartTime",
                EndTime: "Please enter your EndTime",
            }

        });
    });
</script>

}
