@model ODASApp.Models.DrSchedule

@{
    ViewBag.Title = "CreateSchedule";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}
@section styles{

}

<h2>CreateSchedule</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "scheduleForm", id = "scheduleForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DrSchedule</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.DoctorId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoctorId)
                @Html.ValidationMessageFor(model => model.DoctorId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Date" name="Date" />
                @*@Html.EditorFor(model => model.Date)*@
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="Start_Time" name="[Start-Time]" />
                @*@Html.EditorFor(model => model.Start_Time)*@
                @Html.ValidationMessageFor(model => model.Start_Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End_Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="End_Time" name="[End-Time]" />
                @*@Html.EditorFor(model => model.End_Time)*@
                @Html.ValidationMessageFor(model => model.End_Time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>@ViewBag.message</p>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function() {
            $("#Date").datepicker({
                showAnim: "clip",
                changeMonth: true,
                changeYear: true,
                dateFormat: "d M,yy",
                minDate: "getDate"

            });
            $("#Start_Time").datetimepicker({
                //minDate: "getDate"
            });
            $("#End_Time").datetimepicker({
                //minDate: "getDate"
            });

            $("#scheduleForm").validate({
                rules: {
                    Date: "required",
                    '[Start-Time]': "required",
                    '[End-Time]': "required",
                },
                messages: {
                    Date: "Please select your Date",
                    '[Start-Time]': "Please enter your Start_Time",
                    '[End-Time]': "Please enter your End_Time",
                }

            });
        });
    </script>
}
